<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>主页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<!--style="background: url("D:\idea_work\english-training\src\main\resources\static\images\0.jpg1");"-->
<!--style="background: url(static/images/0.jpg); width: 100%;height: 100%;"-->
<body background="">
    <!--<div style="font-size: 20px;color: black;font-family: 楷体;">&lt;!&ndash;!--style="padding: 10px 0 20px 10px;"-->
        <!--<div class="panel-heading">小小项外语培训网站</div>-->
        <!--<div style="width: 100px;height: 100px;background: url(beijing.jpg);">-->
            <!--<h3 style="font-size: 35px;color: black;font-family: 华文新魏">&nbsp;&nbsp;&nbsp;外语学习已经进入互联网时代</h3>-->
            <!--<h3>&nbsp;&nbsp;&nbsp;外语学习已经进入互联网时代</h3>-->
            <!--<ul>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">随着互联网的不断发展，现代远程教育的发展已经成为全球性的大趋势。</li>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">在线学习，不受时间和空间的限制；学生从网络资源中获取所需要的信息；在教师没有面授的请情况下独立进行学习，并且自己解决问题。</li>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">在线学习，为传统教学注入活力，增加学生的学习兴趣、丰富教学内容和教学手段，打破时间和空间对教学活动的限制。学生可以按照自己的学习需要和规律有选择的进行学习。</li>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">在线学习，教师和学生都摆脱了随堂学习在时间和空间上的限制，提高学习效率；根据自身需求有选择的学习，激发学生学习潜能。学会根据自身情况确立学习目标、制定学习计划、选择合适的学习方式。</li>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">在线学习，鼓励学生充分利用各种网络工具、在线资源，多种新式获得英语材料、知识，并将学到的知识应用于实践，促进学生形成积极的学习动机和良好的自主学习英语的能力，培养学生的创新精神和实践能力。</li>-->
                <!--<li style="font-size: 20px;color: black;font-family: 楷体">在线学习，学生可以根据各自的要求，通过调用网络上各种有效的信息资料进行学习和交流，并在虚拟的网络环境中灵活、自主地运用信息资料，可以让学生达到主动构建英语知识和发展英语语言技能，以及构建自主学习能力和提高学习效率的目的。</li>-->
                <!--<li>随着互联网的不断发展，现代远程教育的发展已经成为全球性的大趋势。</li>
                <li>在线学习，不受时间和空间的限制；学生从网络资源中获取所需要的信息；在教师没有面授的请情况下独立进行学习，并且自己解决问题。</li>
                <li>在线学习，为传统教学注入活力，增加学生的学习兴趣、丰富教学内容和教学手段，打破时间和空间对教学活动的限制。学生可以按照自己的学习需要和规律有选择的进行学习。</li>
                <li>在线学习，教师和学生都摆脱了随堂学习在时间和空间上的限制，提高学习效率；根据自身需求有选择的学习，激发学生学习潜能。学会根据自身情况确立学习目标、制定学习计划、选择合适的学习方式。</li>
                <li>在线学习，鼓励学生充分利用各种网络工具、在线资源，多种新式获得英语材料、知识，并将学到的知识应用于实践，促进学生形成积极的学习动机和良好的自主学习英语的能力，培养学生的创新精神和实践能力。</li>
                <li>在线学习，学生可以根据各自的要求，通过调用网络上各种有效的信息资料进行学习和交流，并在虚拟的网络环境中灵活、自主地运用信息资料，可以让学生达到主动构建英语知识和发展英语语言技能，以及构建自主学习能力和提高学习效率的目的。</li>-->
           <!-- </ul>-->
        <!--</div>-->
    <!--</div>-->
<!--<img src="beijing.jpg" alt="背景图"/>-->
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>