<nav th:fragment="nav">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo-white.png" alt="logo"
                                                           class="logo logo-display">
                <img src="images/logo.png" class="logo logo-scrolled" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">
                <li><a href="/front">首页</a></li>
                <li><a href="/courses?limit=8">课程</a></li>
                <li><a href="/teachers">中外教师资</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/xingyouhui">星友会中心</a></li>
            </ul>
        </div>
    </div>
</nav>


<div th:fragment="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <span class="info">
                        <span th:if="${session.touristUser}" th:text="${session.touristUser.username}"></span>
                        <span th:if="${session.touristUser == null}">欢迎光临本小站</span>
                    </span>
                </div>
                <div class="social_top pull-right">
                    <span th:if="${session.touristUser == null}">
                        <span class="info"><a href="tourist/login" class="tourist/login" rel="nofollow">登录</a></span>
                        &nbsp;
                        <span class="info"><a href="register.jsp" class="top-register" el="nofollow">免费注册</a></span>
                        &nbsp;
                    <span class="info"><a href="/login" class="login" el="nofollow">管理员登录</a></span>
                    </span>
                    <span th:if="${session.touristUser}">
                         <span class="info"><a href="tourist/loginOut" class="login" el="nofollow">登出</a></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>