<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>首页</title>
    <!--前两行的格式，（联系、登录、首页等底部、大体的轮廓的格式）-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--轮播图的左右点击的图标显示。<>：这样的图标-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!--body里面：长期巩固、打破地域限制、学习方式灵活，三个小图标的出现-->
    <link rel="stylesheet" type="text/css" href="/css/edua-icons.css">
    <!--body里面：4个小笑脸的动态效果。和上面三个小图标出现的动态效果。以及整体页面的动态出场效果。-->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <!--body部分的格式：核心课程、简单四步。图片和底部汉字。-->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <!--body：水平化进阶的左右格局的调整-->
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <!--首页等五个内容的格式的背景与效果，大小。-->
    <link rel="stylesheet" type="text/css" href="/css/bootsnav.css">
    <!--整个页面背景、效果的调整。包括底部背景与效果，body的背景与效果，footer的背景与效果。还有，登录框框的背景与效果。-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--刷新时黄色球球的格式-->
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
    <!--导入布局js，共享header和footer-->
   <!-- <script type="text/javascript" src="/js/include.js"></script>-->
</head>
<!--前两行的格式，（联系、登录、首页等底部、大体的轮廓的格式）-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<body>
<!--Loader-->
<div class="loader">
    <div class="bouncybox">
        <div class="bouncy"></div>
    </div>
</div>

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <span class="info"><a href="about.html">点击了解一下.</a></span>
                </div>
                <div class="social_top pull-right">
                    <span class="info"><a href="login.jsp" class="login" rel="nofollow">登录</a></span>
                    &nbsp;
                    <span class="info"><a href="register.jsp" class="top-register" el="nofollow">免费注册</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Header-->
<header>
    <nav th:include="front/include_front::nav"  class="navbar navbar-default navbar-fixed white no-background bootsnav" ></nav>
</header>


<!--Slider-->
<section class="rev_slider_wrapper text-center">
    <!-- START REVOLUTION SLIDER 5.0 auto mode -->
    <div id="rev_slider" class="rev_slider"  data-version="5.0">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade">
                <img src="/images/banner1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg">
            </li>

            <li data-transition="fade">
                <img src="/images/banner2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg">
            </li>
        </ul>
    </div><!-- END REVOLUTION SLIDER -->
</section>

<!--ABout US-->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="icon_wrap padding-bottom-half clearfix">
                <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-icons20"></i>
                    <h4 class="text-capitalize bottom20 margin10">长期巩固知识</h4>
                    <p class="no_bottom">课程录播反复学，重点难点轻松掌握。</p>
                </div>
                <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="600ms">
                    <i class="icon-globe"></i>
                    <h4 class="text-capitalize bottom20 margin10">打破地域限制</h4>
                    <p class="no_bottom">Anytime Anywhere 有网就能学英语</p>
                </div>
                <div class="col-sm-4 icon_box text-center heading_space wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-laptop"></i>
                    <h4 class="text-capitalize bottom20 margin10">学习方式灵活</h4>
                    <p class="no_bottom">手机、Ipad、笔记本、台式电脑 ；多终端任你选</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin_top">
        <div class="row">
            <div class="col-md-7 col-sm-6 priorty wow fadeInLeft" data-wow-delay="300ms">
                <h2 class="heading bottom25">水平量化进阶 , 个性定制课程<span class="divider-left"></span></h2>
                <!-- <p class="half_space">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;星星英语设有1-10个级别，共四个学习阶段，从音标到词汇、语法、美语思维到语言运用，长难句听说，商务英语，逐步实现交流自如、脱口而出的目标。</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-post">
                            <a href="#." class="border_radius"><img src="/images/awesome.png" alt=""></a>
                            <h4>第1阶段(1级)</h4>
                            <p>通过基础学习和定型训练，逐步达到听音写词，见词读音的水平。</p>
                        </div>
                        <div class="about-post">
                            <a href="#." class="border_radius"><img src="/images/awesome.png" alt=""></a>
                            <h4>第2阶段(2-4级)</h4>
                            <p>再提升1500个词汇，掌握基本句型，交互式口语模拟场景演真的进阶训练。</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-post">
                            <a href="#." class="border_radius"><img src="/images/awesome.png" alt=""></a>
                            <h4>第3阶段(5-7级)</h4>
                            <p>再提升3000个词汇量，在实战训练中塑造英语思维，打下坚实的英语基础。</p>
                        </div>
                        <div class="about-post">
                            <a href="#." class="border_radius"><img src="/images/awesome.png" alt=""></a>
                            <h4>第4阶段(8-10级)</h4>
                            <p>深度锻造长难听说能力，掌握较复杂的语言结构。4000个词汇量的积累使您在典型的商务环境中进行复杂的交谈。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 wow fadeInRight" data-wow-delay="300ms">
                <img src="/images/about.jpg" alt="our priorties" class="img-responsive" style="width:100%;">
            </div>
        </div>
    </div>
</section>
<!-- Courses -->
<section id="courses" class="padding parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading heading_space wow fadeInDown">核心课程, 满足多样化需求<span class="divider-left"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="slider_wrapper">
                    <div id="course_slider" class="owl-carousel">
                        <div class="item">
                            <div class="image bottom20">
                                <img src="/images/study.jpg" alt="Courses" class="img-responsive border_radius">
                            </div>
                            <h3 class="bottom15"><a href="course_detail.html">Top Talk:团队式分享和学习</a></h3>
                            <p class="bottom15">人性化的网络教学平台，名师真人互动。集中定时授课和线下分组操练，全天候真人在线答疑。中外教结合实现完美的教学效果。</p>
                            <!-- <a href="course_detail.html" class="btn_common blue border_radius">Read More</a> -->
                        </div>
                        <div class="item">
                            <div class="image bottom20">
                                <img src="/images/vip.jpg" alt="Courses" class="img-responsive border_radius">
                            </div>
                            <h3 class="bottom15"><a href="course_detail.html">English Vip:高级讲师1对1定制</a></h3>
                            <p class="bottom15">每天25分钟，短时高效学习，全方位量身定制课程，根据个人基础提供精确的方法指导和训练，扫清口语障碍，英语提升更快。</p>
                            <!-- <a href="course_detail.html" class="btn_common blue border_radius">Read More</a> -->
                        </div>
                        <div class="item">
                            <div class="image bottom20">
                                <img src="/images/english teacher.jpg" alt="Courses" class="img-responsive border_radius">
                            </div>
                            <h3 class="bottom15"><a href="course_detail.html">Free Talk:全外教自由约课</a></h3>
                            <p class="bottom15">方便快捷的学习方式，自由选择的教学导师。上课时间、上课老师随你挑，全外教陪你操练口语，持续打造纯正母语环境。</p>
                            <!-- <a href="course_detail.html" class="btn_common blue border_radius">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Courses -->

<!-- News-->
<section id="news" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInDown">
                <h2 class="heading heading_space">简单3步 即可体验优质课程<span class="divider-left"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="slider_wrapper">
                    <div id="news_slider" class="owl-carousel">
                        <div class="item">
                            <div class="content_wrap">
                                <div class="image">
                                    <img src="/images/news1.jpg" alt="Edua" class="img-responsive border_radius">
                                </div>
                                <div class="news_box border_radius">
                                    <h4><a href="register.html">第1步</a></h4>
                                    <p>免费注册</p>
                                    <p>点击首页右上方的免费注册，即可。</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content_wrap">
                                <div class="image">
                                    <img src="/images/news3.jpg" alt="Edua" class="img-responsive border_radius">
                                </div>
                                <div class="news_box border_radius">
                                    <h4><a href="courses.html">第2步</a></h4>
                                    <p>学习指导</p>
                                    <p>专属顾问指导上课</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content_wrap">
                                <div class="image">
                                    <img src="/images/news1.jpg" alt="Edua" class="img-responsive border_radius">
                                </div>
                                <div class="news_box border_radius">
                                    <h4><a href="test.html">第3步</a></h4>
                                    <p>进入课堂</p>
                                    <p>开启英语学习之旅</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">关于我们<span class="divider-left"></span></h3>
                <a href="index.html" class="footer_logo bottom25"><img src="/images/logo-white.png" alt="Edua"></a>
                <p>走向世界，从星星外语开始。</p>
            </div>
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">快速链接<span class="divider-left"></span></h3>
                <ul class="links">
                    <li><a href="index.html"><i class="icon-chevron-small-right"></i>首页</a></li>
                    <li><a href="courses.html"><i class="icon-chevron-small-right"></i>课程</a></li>
                    <li><a href="teachers.html"><i class="icon-chevron-small-right"></i>中外教师资</a></li>
                    <li><a href="about.html"><i class="icon-chevron-small-right"></i>关于我们</a></li>
                    <li><a href="xingyouhui.html"><i class="icon-chevron-small-right"></i>星友会中心</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">保持联系<span class="divider-left"></span></h3>
                <p class=" address"><i class="icon-map-pin"></i>198 West 21th Street Victoria 8007, Australia</p>
                <p class=" address"><i class="icon-phone"></i>(654) 332-112-222</p>
                <p class=" address"><i class="icon-mail"></i><a href="mailto:Edua@info.com">Edua@info.com</a></p>
                <img src="/images/footer-map.png" alt="we are here" class="img-responsive">
            </div>
        </div>
    </div>
</footer>

<!--FOOTER ends-->
<!--加载整个页面内容-->
<script src="/js/front/jquery-2.2.3.js"></script>
<script src="/js/front/bootstrap.min.js"></script>
<script src="/js/front/bootsnav.js"></script>
<script src="/js/front/jquery.appear.js"></script>
<script src="/js/front/jquery-countTo.js"></script>
<script src="/js/front/jquery.parallax-1.1.3.js"></script>
<script src="/js/front/owl.carousel.min.js"></script>
<script src="/js/front/jquery.cubeportfolio.min.js"></script>
<script src="/js/front/jquery.themepunch.tools.min.js"></script>
<script src="/js/front/jquery.themepunch.revolution.min.js"></script>
<script src="/js/front/revolution.extension.layeranimation.min.js"></script>
<script src="/js/front/revolution.extension.navigation.min.js"></script>
<script src="/js/front/revolution.extension.parallax.min.js"></script>
<script src="/js/front/revolution.extension.slideanims.min.js"></script>
<script src="/js/front/revolution.extension.video.min.js"></script>
<script src="/js/front/wow.min.js"></script>
<script src="/js/front/functions.js"></script>
</body>
</html>

